:root {
    --color-border-secondary: #eaecef;

    --color-bg-overlay: white;
    --color-border-overlay: #e1e4e8;

    --color-btn-text: #24292e;
    --color-btn-bg: #fafbfc;
    --color-btn-hover-bg: #f3f4f6;
    --color-btn-border: rgba(27, 31, 35, 0.15);
    --color-btn-focus-border: rgba(27,31,35,0.15);
    --color-btn-selected-bg: #edeff2;
    --color-btn-shadow: 0 1px 0 rgba(27, 31, 35, 0.04);
    --color-btn-inset-shadow: inset 0 1px 0 hsla(0, 0%, 100%, 0.25);

    --color-btn-primary-hover-bg: #2c974b;
    --color-btn-primary-hover-border: rgba(27,31,35,0.15);
    --color-btn-primary-selected-bg: #2a8f47;
    --color-btn-primary-selected-shadow: 0 0 0 3px rgba(3, 102, 214, 0.3);

    --color-btn-secondary-hover-bg: #0366d6;

    --color-input-border: #e1e4e8;

    --color-shadow-inset: inset 0 1px 0 rgba(225, 228, 232, 0.2);
    --color-state-focus-border: #0366d6;
    --color-state-focus-shadow: 0 0 0 3px rgba(3, 102, 214, 0.3);

    --color-text-primary: #24292e;
    --color-text-secondary: #586069;
    --color-text-tertiary: #6a737d;
    --color-text-danger: #cb2431;
    --color-text-warning: #b08800;
    --color-text-success: #22863a;
    --color-text-link: #0366d6;
    --color-text-white: white;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
    margin-top: 0;
    margin-bottom: 0;
}

hr {
    height: 0;
    margin: 15px 0;
    border: 0;
    background: transparent;
    border-bottom: 1px solid var(--color-border-secondary);
}

/*TYPOGRAPHY*/
p {
    margin-top: 0px;
    margin-bottom: 10px;
}

.f2 {
    font-size: 22px !important;
}

.h5 {
    font-weight: 600 !important;
    font-size: 14px;
}

@media (min-width: 768px) {
    .f2 {
        font-size: 24px !important;
    }
}

/*COLORS*/
.text-gray {
    color: var(--color-text-secondary) !important;
}

/*LAYOUT*/
.float-left {
    float: left;
}

.clearfix:after,
.clearfix:before {
    display: table;
    content: "";
}

.clearfix::after {
    clear: both;
}

.position-absolute {
    position: absolute !important;
}

@media (min-width: 544px) {
    .d-sm-none {
        display: none !important;
    }
}

/*PADDING*/
.pt-4 {
    padding-top: 24px !important;
}

/*MARGIN*/
.mt-0 {
    margin-top: 0 !important;
}

.mt-1 {
    margin-top: 4px !important;
}

.mt-2 {
    margin-top: 8px !important;
}

.mr-1 {
    margin-right: 4px !important;
}

.mr-2 {
    margin-right: 8px !important;
}

.mb-0 {
    margin-bottom: 0px !important;
}

.mb-2 {
    margin-bottom: 8px !important;
}

.mb-3 {
    margin-bottom: 16px !important;
}

.mb-5 {
    margin-bottom: 32px !important;
}

.mx-2 {
    margin-left: 8px !important;
    margin-right: 8px !important;
}

.my-2 {
    margin-top: 8px !important;
    margin-bottom: 8px !important;
}



a {
    color: var(--color-text-link);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: var(--color-text-primary);
    margin: 0;
}

button {
    margin: 0;
    font-family: Arial;
}

dd {
    margin-left: 0;
}

label {
    font-weight: 600;
}

.avatar {
    border-radius: 50%;
    vertical-align: middle;
}

.btn {
    color: var(--color-btn-text);
    border: 1px solid var(--color-btn-border);
    border-radius: 6px;
    background-color: var(--color-btn-bg);
    box-shadow: var(--color-btn-shadow), var(--color-btn-inset-shadow);
    position: relative;
    display: inline-block;
    padding: 5px 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    transition: .2s cubic-bezier(.3,0,.5,1);
    transition-property: background-color,border-color;
}

.btn:active {
    background-color: var(--color-btn-selected-bg);
}

.btn:focus {
    border-color: var(--color-btn-focus-border);
    outline: none;
}

.btn:hover {
    background-color: var(--color-btn-hover-bg);
}

.btn-primary {
    color: white;
    background-color: #2ea44f;
    border-color: #1b1f2326;
}

.btn-primary:hover  {
    background-color: var(--color-btn-primary-hover-bg);
    border-color: var(--color-btn-primary-hover-border);
}

.btn-primary:active  {
    background-color: var(--color-btn-primary-selected-bg);
    border-color: var(--color-btn-primary-selected-shadow);
}

.container {
    max-width: 768px;
    margin: 40px auto 40px auto;
    padding-right: 16px;
    padding-left: 16px;
}

.form-checkbox {
    padding-left: 20px;
    margin: 15px 0;
    vertical-align: middle;
}

.form-checkbox input[type=radio] {
    float: left;
    margin: 5px 0 0 -20px;
    vertical-align: middle;
}

.form-checkbox input[type=checkbox] {
    float: left;
    margin: 5px 0 0 -20px;
    vertical-align: middle;
}

.form-checkbox .note {
    display: block;
    margin: 0;
    font-size: 12px;
    font-weight: 400;
    color: var(--color-text-secondary);
}

.form-control {
    padding: 5px 12px;
    font-size: 14px;
    line-height: 20px;
    color: var(--color-text-primary);
    vertical-align: middle;
    border: 1px solid var(--color-input-border);
    border-radius: 6px;
    outline: none;
    box-shadow: var(--color-shadow-inset);
}

.form-group {
    margin: 15px 0;
}

.form-group.required dt label::after {
    padding-left: 5px;
    color: var(--color-text-danger);
    content: "*";
}

.form-group .form-control {
    width: 440px;
    max-width: 100%;
    margin-right: 5px;
    background-color: #fafbfc;
}

.form-group .form-control:focus {
    background-color: var(--color-input-bg);
    border-color: var(--color-state-focus-border);
    box-shadow: var(--color-state-focus-shadow);
}

.form-group .form-control.long {
    width: 100%;
}

.form-group .form-control.short {
    width: 250px;
}

.form-group dt {
    margin: 0 0 6px;
}

.note {
    min-height: 17px;
    margin: 4px 0 2px;
    font-size: 12px;
    color: var(--color-text-secondary);
}

.reponame-suggestion {
    color: var(--color-text-success);
    cursor: pointer;
}

.select-menu {
    position: relative;
}

.select-menu > summary {
    list-style: none;
}

.select-menu > summary::-webkit-details-marker {
    display: none;
}

.select-menu-button::after {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: -2px;
    content: "";
    border: 4px solid transparent;
    border-top-color: currentcolor;
}

.select-menu-modal {
    background-color: var(--color-bg-overlay);
    border: 1px solid var(--color-border-overlay);
    border-radius: 6px;
    font-size: 12px;
    width: 300px;
    margin-top: 4px;
    margin-bottom: 20px;
    z-index: 1;
}

.select-menu-item {
    display: block;
    padding: 8px 8px 8px 30px;
    cursor: pointer;
}

.select-menu-list {
    overflow: hidden;
    border-radius: 6px;
}

.select-menu-item:hover {
    color: var(--color-text-white);
    background-color: var(--color-btn-secondary-hover-bg);
}

.select-menu-item .octicon {
    float: left;
    margin-left: -20px;
}

.subhead {
    border-bottom: 1px solid var(--color-border-secondary);
}

.subhead-heading {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 8px;
}

.subhead-description {
    margin-top: -8px;
    margin-bottom: 16px;
    font-size: 14px;
    color: var(--color-text-secondary);
    flex: 1 100%;
}

@media (min-width: 768px) {
    .container {
        padding-right: 24px;
        padding-left: 24px;
    }
}

/* OCTICON */
.octicon {
    display: inline-block;
    fill: currentColor;
}
.octicon-repo {
    color: var(--color-text-tertiary);
}

.octicon-lock {
    color: var(--color-text-warning);
}